
    

<div class="row justify-content-center">
    <h6 class="titulo">Seleccióne una cobertura de la lista.</h6>
</div>
<hr>


        <div class="card list-group">
            <!-- <div class="card-header">
                <h1 class="titulo">Coberturas</h1>
            </div> -->

            <div *ngFor="let cobertura of coberturas"
             class="list-group-item list-group-item-action list-group-item-light" (click)="selected(cobertura)">


             <div class="d-flex w-100 justify-content-between">
                <h5 class=" titulo mb-1">
                    {{cobertura.titulo}}
                </h5>


                <div>
                    <h6 class="costo-color">{{cobertura.costo | currency}}</h6>
                    <p>
                        Rating: {{cobertura.puntaje}}
                    </p>
                
                </div>

              </div>

                <div class="text-wrap">
                    <span class="badge badge-info">{{cobertura.texto}}</span>
                </div>
         

              <p>
                {{cobertura.descripcion}}
            </p>

            <div class="row">
                <div class="col-6">
                    Granizo: {{cobertura.granizo ? 'si' : 'no'}}
                </div>

                <div class="col-6">
                    Franquicia: {{cobertura.franquicia | currency}}
                </div>
            </div>
            

            </div>
           
          </div>
          <br>
          <div class="row justify-content-center">
            <button class="btn btn-primary" (click)="retroceder()" >Atras</button>
            &nbsp;
            <button class="btn btn-primary" (click)="avanzar()" [disabled]="!this.cobertura">Siguiente</button>
        </div>






